<h1>Rezepte</h1>

<div class="d-flex flex-row flex-wrap">
  <div class="card recipe" *ngFor="let recipe of recipes; let idx = index"
    style="width: 24rem; margin-right: 10px; margin-top: 5px">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center">{{recipe.name}}</h5>
      <h6 class="card-subtitle" style="padding-bottom: 5px; text-decoration: underline; font-weight: bold;">Zutaten</h6>
      <span >
        <a class="btn btn-small m-1"
          [ngClass]="{'btn-outline-success':ingredient.available,'btn-outline-danger':!ingredient.available }"
          [href]="'https://www.kaufland.de/suche.assortmentSearch.html?q='+ingredient.name" target="_blank"
          *ngFor="let ingredient of recipe.ingredients">{{ingredient.quantity}} {{ingredient.unit}}
          {{ingredient.name}}
        </a>
      </span>
      <h6 *ngIf="recipe.requiredDevices!==undefined" class="card-subtitle mt-2"
        style="padding-bottom: 5px; text-decoration: underline; font-weight: bold;">Geräte</h6>
      <span *ngIf="recipe.requiredDevices!==undefined">
        <a class="btn btn-small m-1" [href]="'https://www.lidl.de/de/search?query='+device.name" target="_blank"
          [ngClass]="{'btn-outline-success':device.available,'btn-outline-danger':!device.available }"
          *ngFor="let device of recipe.requiredDevices">{{device.name}}
        </a>
      </span>
      <h6 class="card-subtitle" style="padding-bottom: 5px; text-decoration: underline; font-weight: bold;">Zubereitung
      </h6>
      <ol>
        <li class="card-text" *ngFor="let step of recipe.preparation">{{step.description}}</li>
      </ol>
    </div>
  </div>
</div>