<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">DigiBon</a>
  <button class="navbar-toggler" type="button" (click)="toggleCollapse()" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" [class.show]="show">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" (click)="toggleCollapse()">Start
          <span class="sr-only">(current) </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inventory" (click)="toggleCollapse()">Inventar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/devices" (click)="toggleCollapse()">Geräte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/timeline" (click)="toggleCollapse()">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" (click)="toggleCollapse()">Rezepte</a>
      </li>
    </ul>
  </div>
</nav>