<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge" style="background-color: yellowgreen"><i class="fa fa-cart-plus"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Einkauf hinzugefügt</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> vor 2 Stunden </small></p>
            </div>
            <div class="timeline-body">
              <p>Einkauf mit:</p>
              <ul>
                <li>Muellermilch</li>
                <li>Tortilla Chips</li>
                <li>Salzstangen JA!</li>
                <li>Pepper Cola</li>
                <li>Vio Limo Zitrone</li>
                <li>Pfanner pure tea</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-plus"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Smarte Steckdose hinzugefügt</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> vor 8 Stunden </small></p>
            </div>
            <div class="timeline-body">
              <p>Sie haben die smarte Steckdose 'Mixer' hinzugefügt, die sie mit ihrem Mixer assoziiert haben.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge" style="background-color: rgb(216, 212, 0)"><i class="fa fa-bolt"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Fernseher verwendet</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> vor 13 Stunden </small></p>
            </div>
            <div class="timeline-body">
              <p>Ihre smarte Steckdose 'Plasma TV' hat einen 4 Stunden andauernden Stromverbrauch erkannt und Sie im Anschluss aufgrund der Uhrzeit darauf hingewiesen, 
                nach dem vermeintlichen Ausschalten des Geräts die Stromversorgung zu kappen anstatt es im Stand-By-Modus zu lassen.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="fa fa-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Toastbrot aufgebraucht</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> vor 2 Tagen </small></p>
            </div>
            <div class="timeline-body">
              <p>Sie haben manuell angegeben, dass sie Ihr im Inventar vorhandenes Toastbrot restlos aufgebraucht haben.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="fa fa-thumbs-down"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mindesthaltbarkeitsdatum abgelaufen</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> vor 3 Tagen </small></p>
            </div>
            <div class="timeline-body">
              <p>Das Mindesthaltbarkeitsdatum ihrer Vollmilch ist abgelaufen, bevor Sie sie als verbraucht markiert haben 😢</p>
              <i class="fa fa-sad-tear"></i>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Vorgeschlagenes Rezept verwendet</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> vor 4 Tagen </small></p>
            </div>
            <div class="timeline-body">
              <p>Sie haben das von uns vorgeschlagene Rezept verwendet, um ihre letzten Eier aufzubrauchen! 🎉</p>
            </div>
          </div>
        </li>
    </ul>
</div>
