<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <a href="https://www.lidl.de/de/50-sixt-gutschein-fuer-30/p301512-c21286">
            <div class="carrousel-image" [style.background]="'url('+images[0]+')'"></div>
        </a>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <a href="https://www.lidl.de/de/dessous-fuer-sinnliche-momente/c23412">
            <div class="carrousel-image" [style.background]="'url('+images[1]+')'"></div>
        </a>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <a href="https://www.lidl.de/de/laessig-fuer-den-sommer-ab-20-05/c24229">
            <div class="carrousel-image" [style.background]="'url('+images[2]+')'"></div>
        </a>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
</ngb-carousel>
<p style="padding-top: 5px; padding-bottom: 5px"></p>
<h2>Meine Coupons</h2>

<div class="container list-group" style="border-color: black; padding-bottom: 10px;" *ngFor="let coupon of coupons">
    <div class="coupon" style="border-color: black; border-width: 1px; border-style: solid; width: 90%">
        <div class="row">
            <div class="col align-self-center" style="border-right-style: dotted; border-color: black;">
                <h4 class="coupon-title">{{coupon.title}}</h4>
                <p class="coupon-text">Gültig bis {{coupon.validUntil}}</p>
            </div>
            <div class="col-auto align-self-center" style="min-width:7rem;">
                <h3 style="text-align: center">{{coupon.percentage}} %</h3>
            </div>
        </div>

    </div>
</div>
<a routerLink="/scanner"><button type="button" class="btn btn-primary">Kassenbon scannen</button></a>