<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <a href="https://www.lidl.de/de/50-sixt-gutschein-fuer-30/p301512-c21286">
            <img [src]="images[0]" alt="Random first slide">
        </a>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <a href="https://www.lidl.de/de/dessous-fuer-sinnliche-momente/c23412">
            <img [src]="images[1]" alt="Random second slide">
        </a>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <a href="https://www.lidl.de/de/laessig-fuer-den-sommer-ab-20-05/c24229">
            <img [src]="images[2]" style="width: 1182px; height: 300px; object-fit: cover" alt="Random third slide">
        </a>
        <div class="carousel-caption">
            <h3></h3>
            <p></p>
        </div>
    </ng-template>
</ngb-carousel>
<p style="padding-top: 5px; padding-bottom: 5px"></p>
<h2>Meine Coupons</h2>
<!-- <ngb-carousel *ngIf="coupons">
    <ng-template ngbSlide>
        <div class="coupon" style="border-color: black; border-width: 1px; border-style: solid; width: 40rem">
            <div class="row">
                <div class="col align-self-center" style="border-right-style: dotted; border-color: black;">
                    <h4 class="coupon-title">{{coupon[0].title}}</h4>
                    <p class="coupon-text">Gültig bis {{coupon[0].validUntil}}</p>
                </div>
                <div class="col-2 align-self-center">
                    <h3 style="text-align: center">{{coupon[0].percentage}} %</h3>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="col align-self-center" style="border-right-style: dotted; border-color: black;">
                <h4 class="coupon-title">{{coupon[1].title}}</h4>
                <p class="coupon-text">Gültig bis {{coupon[1].validUntil}}</p>
            </div>
            <div class="col-2 align-self-center">
                <h3 style="text-align: center">{{coupon[1].percentage}} %</h3>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="col align-self-center" style="border-right-style: dotted; border-color: black;">
                <h4 class="coupon-title">{{coupon[2].title}}</h4>
                <p class="coupon-text">Gültig bis {{coupon[2].validUntil}}</p>
            </div>
            <div class="col-2 align-self-center">
                <h3 style="text-align: center">{{coupon[2].percentage}} %</h3>
            </div>
        </div>
    </ng-template>
</ngb-carousel> -->

<div class="container list-group" style="border-color: black; padding-bottom: 10px;" *ngFor="let coupon of coupons">
    <div class="coupon" style="border-color: black; border-width: 1px; border-style: solid; width: 40rem">
        <div class="row">
            <div class="col align-self-center" style="border-right-style: dotted; border-color: black;">
                <h4 class="coupon-title">{{coupon.title}}</h4>
                <p class="coupon-text">Gültig bis {{coupon.validUntil}}</p>
            </div>
            <div class="col-2 align-self-center">
                <h3 style="text-align: center">{{coupon.percentage}} %</h3>
            </div>
        </div>

    </div>
</div>
<a routerLink="/scanner"><button type="button" class="btn btn-primary">Kassenbon scannen</button></a>