<h2>Bereits verbraucht?</h2>
<div class="cardStackWrapper">
  <div class="cardStack">
    <div class="card" *ngFor="let item of items"
      [ngClass]="{'fullyVisible':item.state==='unset' , 'notVisible':item.state!=='unset'}"
      [ngStyle]="{'background-image':'url('+item.item.imageUrl+')'}">
      <p class="card-text">{{item.item.name}}
        <small>(gekauft am {{item.item.addedAt}})</small>
      </p>
    </div>
    <!-- <div class="card"
      style="background-image: url('https://www.lidl.de/media/product/0/2/4/8/3/1/5/wuerttemberg-trollinger-mit-lemberger-qba-halbtrocken-rotwein-2017--1.jpg')">
      <p class="card-text">Württemberg Trollinger mit Lemberger QbA halbtrocken, Rotwein 2017
        <small>(gekauft am 12. Mai 2019)</small></p>
    </div>
    <div class="card" style="background-image: url('https://files.billa.at/files/artikel/00-400975_01__600x600.jpg')">
      <p class="card-text">RAUCH Happy Day 100% Apfel Apfelsaft 2L
        <small>(gekauft am 6. Mai 2019)</small></p>
    </div>
    <div class="card"
      style="background-image: url('https://www.kochschule.de/sites/default/files/images/kochwissen/440/banane.jpg')">
      <p class="card-text">Bio-Bananen, 5 Stück
        <small>(gekauft am 1. Mai 2019)</small></p>
    </div> -->
  </div>
</div>
<div class="cardStackButtons">
  <button id="cardStackAccept" type="button" class="btn btn-danger" (click)="accept()"><i
      class="fa fa-times"></i></button>
  <button id="cardStackDecline" type="button" class="btn btn-success" (click)="decline()"><i
      class="fa fa-check"></i></button>
</div>