<h2>Bereits verbraucht?</h2>
<div class="cardStackWrapper">
  <div class="cardStack">
    <div class="card" *ngFor="let item of items"
      [ngClass]="{'fullyVisible':item.state==='unset' , 'notVisible':item.state!=='unset'}"
      [ngStyle]="{'background-image':'url('+item.item.imageUrl+')'}">
      <p class="card-text">{{item.item.name}}
        <small>(gekauft am {{item.item.addedAt}})</small>
      </p>
    </div>
  </div>
</div>
<div class="cardStackButtons">
  <button id="cardStackAccept" type="button" class="btn btn-danger" (click)="accept()"><i
      class="fa fa-times"></i></button>
  <button id="cardStackDecline" type="button" class="btn btn-success" (click)="decline()"><i
      class="fa fa-check"></i></button>
</div>